body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./background_green.jpeg");
    margin: 0px;
}

.navbar{
    background-color: #4e2e18;
    width: 1300px;
    height: 50px;
    z-index: 3;
    position: fixed;
    align-self: flex-start;
    margin-top: 10px;
}

.navbar-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.dropdown-content{
    display: none;
    position: absolute;
    color: black;
    background-color: antiquewhite;
    width: auto;
    z-index: 4;
}

.dropdown-content p {
    color: black;
    display: block;
}

.option{
    background-color: transparent;
    border: none;
    font-size: large;
    font-weight: 600;
}

.frame-option:hover .frame-option > .dropdown-content {display: block;}

.navbar-options{
    width: auto;
    margin: 10px;
}

.tickers{
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

.ticker{
    width: 100px;
    height: 100%;
    background-color: #6e6864;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin: 0 10%;
    z-index: -2;
    background-image: linear-gradient(to right, rgb(99, 99, 99) , rgb(148, 148, 148));
}

#firstTicker{
    margin-top: 10px;
}

#secondTicker{
    margin-top: 10px;
}

.clock-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 360px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    z-index: 0;
    background-image: linear-gradient(to right, #29160a, #4e2e18);
}

header{
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 20px;
    background-color: black;
    padding: 0 30px;
    border: solid 2px gold;
    border-radius: 4px;
    color: aliceblue;
}

.timeEnter{
    max-width: 30px;
}

.setTime{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    display: flex;
    width: 300px;
    height: 20px;
    padding: 5px 250px;
    border-radius: 4px;
    border-width: 2px;
    border-style: double;
    border-color: rgb(77, 77, 77);
}

.submit{
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    width: 100px;
}


.display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 750px;
    height: 100px;
    background-color: #0c0d0e;
    margin: 10px 0px 40px 0px;
    border-width: 5px;
    border-style: double;
    border-color: rgb(34, 37, 39);
}

@font-face{
    font-family: digital;
    src: url(./digital-7.ttf);
}

.display p{
    font-family: "digital";
    color: rgb(69, 235, 63);
}

.playerTag{
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 600;
}

.time{
    font-size: 50px;
    margin-top: 0px;
    min-width: 159px;
}

.buttons{
    background-color: black;
    display: flex;
    width: 800px;
    height: 30px;
    justify-content: center;
    padding: 5px 0px;
    border-radius: 4px;
    border-style: double;
    border-width: 2px;
    border-color: rgb(77, 77, 77);
}

.buttons .btn{
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    width: 200px;
}

.legs{
    width: 800px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.leg{
    width: 100px;
    height: 100%;
    background-color: black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin: 0 5px;
}

.error{
    background-color: #d30f0f;
}

.approve{
    background-color: rgb(28, 199, 28);
}

.notCurrentPlayer{
    opacity: 30%;
}

.tickerDown{
    margin-top: 30px;
}


/*.table{
    position: absolute;
    height: 100px;
    width: 100%;
    z-index: -3;
    background-color: #412614;
}*/
